<div class="wrapper">
	<div class="logo-top-tab">
		<span class="logo">Daily Dairy Book</span>
		<span class="float-right logout-btn">
			<span ng-click="logout()"><i class="fa fa-power-off"></i></span>
		</span>
	</div>
	<div class="home-page-main left-side">
		<div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item open">
                        <a class="nav-link active" ui-sref="home">
                        	<i class="fa fa-tachometer"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link" ui-sref="link1"><i class="fa fa-tachometer"></i> Link1</a>
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link" ui-sref="link2"><i class="fa fa-tachometer"></i> Link2</a>
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link" ui-sref="link3"><i class="fa fa-tachometer"></i> Link3</a>
                    </li>
                </ul>
            </nav>
        </div>
	</div>
	<div class="home-page-main right-side">
		<h3>Linked One</h3>
		User : 
        <span ng-controller="Link1Controller">
        <span ng-repeat="x in login">
        {{x.fname}}
        </span>
        </span>
	</div>
</div>
