<div class="col-sm-3 center-block">
	<div class="login-main-bords">
		<div class="login-bord">
			<div class="text-center">
				<span class="outer-logo logo">Daily Dairy Book</span>
			</div>
			<hr>
			<div class="login-heading">Login Here</div>
			<div class="login-form">
				<form name="loginForm" ng-submit="formSubmit()" class="form">
				    <div class="form-group" ng-class="{true: 'error'}[submitted && loginForm.username.$invalid]">
				      <input type="text" class="form-control" name="username" ng-model="username" placeholder="User Name" required>
				      <div ng-show="submitted && loginForm.username.$error.required">
				      	<span class="required">Required</span>
				      </div>
				    </div>
				    <div class="form-group" ng-class="{true: 'error'}[submitted && loginForm.upassword.$invalid]">
				      <input type="password" class="form-control" name="upassword" ng-model="password" placeholder="Password" required>
				      <div ng-show="submitted && loginForm.upassword.$error.required">
				      	<span class="required">Required</span>
				      </div>
				    </div>
				    <div class="required form-group">
				    	{{error}}	
				    </div>			    
				    <button type="submit" class="btn btn-warning btn-sm per100 login-btn-css" ng-click="submitted=true">Submit</button><br/><br/>
				    <div class="form-group click-here">
				    	If you have registered <a href="#">click here</a>. 
				    </div>
				</form>	
			</div>
		</div>
	</div>	
</div>